/* 

Project Name: Cookie Monster 
Client: Cookie Monster
Author: Chris Castiglione | www.twitter.com/castig | www.castig.org 
Developed @ One Month in NYC 

*/

body {
	/*background: url('../images/cookie-monster.jpg');*/
	/* the follow is the code to have the image display as a full page */
	background: url('../images/fondo-portfolio.jpg');
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #000000;
	text-align: center;
	
}

#container{
	background-color: #3d6391;
	width: 424px;
	color: #FFFFFA;
	padding: 15px;
	min-height: 100%;
	height: 100%;
}

.pic{
	position: relative;
	width: 150px;
	border-radius: 50%;
}

.icon{
	width: 40px;
}

h1{
	font-size: 50px;
}

h2{
	background-color: #f2b44f;
	color: black;
	padding: 5px;
	border-radius: 5px;
}

p{
	padding: 5px;
	text-align: justify;
}

a{
	color: #f2b44f;
	text-decoration: none;
}

ul{
	text-align: left;
}

img{
	text-align: initial;
	position: absolute;
	bottom: 0;
	margin: 1px;
}

html, body{
	height: 100%;
}

